.page-header h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--primary-green);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
}

.card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: var(--card-box-shadow);
    overflow: hidden;
    width: 300px;
    height:120px;
    position: relative;
    top: 0;
    transition: top 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    top: -5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.card a {
    text-decoration: none;
    color: inherit;
    display: block; 
    height: 100%; 
}

.card-content {
    padding: 1.5rem;
    text-align: center;
}

.card-img-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 0.5rem;
}

.card-content p {
    color: var(--text-muted);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-new{
    background-color: var(--primary-green);
    padding: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.3s ease
}

.add-new a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: medium;
}

.add-new:hover{
    cursor: pointer;
    background-color: var(--accent-green);
    color: var(--bg-sand);
}