{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/registration/login.css' %}" />
{% endblock %} 
{% block content %}

<section class="auth-container">
    <h1>Login</h1>
    
    <form method="post" action="{% url 'login' %}" class="subsection-content">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn submit">Log In</button>
    </form>
    
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</section>

{% endblock %}