.auth-container {
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: var(--bg-sand);
    border-radius: 8px;
    box-shadow: var(--card-box-shadow);
}

.auth-container h1 {
    font-size: var(--font-xl);
    color: var(--primary-green);
    margin-bottom: 1.5rem;
    text-align: center;
}

.auth-container form p {
    margin-bottom: 1rem;
    font-size: var(--font-reg);
}

.auth-container input {
    width: 100%;
    padding: 8px;
    border: var(--borders);
    border-radius: 4px;
    margin-top: 4px;
}

.btn.submit {
    width: 100%;
    padding: 1rem;
    background-color: var(--submit);
    color: white;
    border: none;
    font-weight: 600;
}