.auth-container {
    max-width: 600px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: var(--bg-sand);
    border-radius: 12px;
    box-shadow: var(--card-box-shadow);
}

.auth-container h1 {
    font-size: var(--font-xl);
    color: var(--primary-green);
    margin-bottom: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.form-container table {
    width: 100%;
    border-collapse: collapse;
}

.form-container th {
    text-align: left;
    color: var(--text-muted);
    font-weight: 500;
    padding: 1rem 0;
}

.form-container td {
    padding-bottom: 1.5rem;
}

.form-container input {
    width: 100%;
    padding: 0.8rem;
    border: var(--borders);
    border-radius: 4px;
    margin-top: 4px;
    background-color: white;
}

.red-text {
    color: var(--danger);
    text-align: center;
    margin-bottom: 1rem;
}

.btn.submit {
    width: 100%;
    padding: 1rem;
    background-color: var(--submit);
    color: white;
    border: none;
    font-weight: 600;
}
